* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fcfafa;
  color: #333;
  text-align: center;
  line-height: 1.6;
}
header,
footer {
  background: linear-gradient(rgb(5, 5, 4));
  color: #fdf8f8;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  background: url("assets/logo.jpg") center/contain no-repeat;
}

.hero-section {
  background-image: url("assets/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background: linear-gradient(
    90deg,
    rgba(6, 11, 17, 0.9) 30%,
    rgba(6, 11, 17, 0.4) 100%
  );
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.tag-new {
  background-color: #f38e12;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 3px;
}

.hero-title {
  color: #ffffff;
  font-size: 42px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.hero-desc {
  color: #bdc3c7;
  font-size: 16px;
  max-width: 500px;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn-secondary {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #7f8c8d;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.konten-box {
  width: 100%;
  max-width: 4000px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid #fbf8f8;
  font-size: larger;
}

.gambar-produk {
  width: 100%;
  height: 250px;
  background: url("assets/foto.jpg") center/contain no-repeat;
  margin-bottom: 15px;
}

h3,
h4 {
  margin: 15px 0 5px 0;
}

.harga {
  color: #ff5722;
  font-weight: bold;
  font-size: 20px;
}

.deskripsi {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

ul {
  list-style-position: inside;
  text-align: left;
  margin: 10px auto 25px auto;
  max-width: 400px;
}

li {
  padding: 4px 0;
  font-size: 14px;
}
.btn-kontak {
  display: inline-block;
  background-color: #ff5722;
  color: #010000;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}
